<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.qrro.mapper.MemberMapper">

		<insert id="memberJoin">
	  		insert into store_info 
	  		values(
	  			#{memberId}, 
	  			#{memberPw}, 
	  			#{storeName}, 
	  			#{memberAddr1}, 
	  			#{memberAddr2}, 
	  			#{memberAddr3}, 
	  			#{storeNum}, 
	  			#{memberName}, 
	  			#{storeTel},
	  			0 
	  		 )
  		</insert>
  		
  		<!-- 아이디 중복검사 -->
  		<select id="idCheck" resultType="int">
  	
  			select count(*) from store_info where memberId = #{memberId}
  	
  		</select>
  		
  		 <!-- 관리자로그인 -->
     	 <select id="memberLogin" resultType="com.qrro.model.MemberVO">
      
         	select memberId, storeName, adminck
         	from store_info 
         	where memberId = #{memberId} and memberPw = #{memberPw}
      
     	 </select>
     	 
     	  <!-- 테이블로그인 -->
      <select id="tableLogin" resultType="com.qrro.model.TableVO">
      
         select seq, table_id, table_pw 
         from table_info 
         where table_id = #{table_id} and table_pw = #{table_pw}
      
      </select>
	
  </mapper>