<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.qrro.mapper.PosMapper">
  
 	 <!-- 테이블 목록 -->
	  <select id="getTableManage" resultType="com.qrro.model.TableVO">
	  
	  		select * from table_info
	  
	  </select>
	
	<!-- 테이블 등록 -->
	<insert id="tEnroll">
        
        insert into table_info
        (table_id, table_pw) 
        values 
        (#{table_id}, #{table_pw})
        
    </insert>
    
     <!-- 테이블 수정 -->
    <update id="tUpdate">
    
        update table_info 
        set 
        table_id = #{table_id}, 
        table_pw = #{table_pw} 
        where seq = #{seq}
    </update>
	
  </mapper>